<app-upload [disabled]="showProgress" (uploadStatus)="uploadStatus($event)"></app-upload>
<h2>File List</h2>
<p *ngIf="showProgress"> progress <strong>{{percentage}}%</strong></p>
<label class="error" [hidden]="!showDownloadError">There were errors while downloading</label>
<label class="error" [hidden]="!showUploadTypeError">File type is not valid...!</label>
<label class="error" [hidden]="!showUploadSizeError">File size exceeds the limits...!</label>
<label class="error" [hidden]="!showUploadError">There were errors during the upload</label>
<hr>

<div>

  <table>
     <thead>
        <tr>
           <th>File Name</th>
           <th>File Size</th>
           <th>File Upload Date</th>
           <th>Download</th>
        </tr>
     </thead>
     <tbody>
        <tr *ngFor="let file of files">
           <td>{{ file.name }}</td>
           <td>{{ file.size }} KB </td>
           <td>{{ file.date}}</td>
           <app-download [disabled]="showProgress" [fileName]="file" (downloadStatus)="downloadStatus($event)"></app-download>

        </tr>
     </tbody>
  </table>
</div>

